
<section class="formContainer">
    <h1>Login</h1>

    <form id="loginform" 
    [formGroup]="form" 
    (ngSubmit)="onLogin(form.value)">

            <mat-form-field apperance="fill">
                <mat-label>Email Address</mat-label>
                <input matInput class="input-field" formControlName="username">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" class="input-field" formControlName="password">
            </mat-form-field>
        <section class="centerElement">
            <button class="secondary btn">Login</button>
        </section>

    </form>
</section>