main {
    display: flex;
    justify-content: center;
}

#txn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em;
    background-color: #FEFEFE;
    padding: 1em;
    width: 80%;
    /* height: 80vh; */
    /* max-height: 80vh; */
}

#txnlist-header{
    flex: 100%;
    width: 80%;
    text-align: center;
}

#txnlist-container {
    flex: 100%;
    display: flex;
    justify-content: center;
}

.secondary {
    background-color: #1a42b3;
}


.secondary:hover {
    background-color: #535F80;
    color: white;
}

button {
    border: none;
    padding: 0.5em;
    color: white;
}

table {
    width: 100%;
    text-align: center;
    margin: 2em;
    margin-top: 1em;
    /* height: 50vh;
    display: block;
    overflow-y:auto; */
    
}

/* table::-webkit-scrollbar {
    width: 12px;
    
}

table::-webkit-scrollbar-thumb {
    background-color: #d7dae6;
} */

thead {
    width: 100%
}
tbody {
    width: 100%;
}

tr:hover {
    background-color: #f0f2fa;
}

td,th {
    width: 10%;
}

td {
    vertical-align: middle;
}


.table-btn {
    width: 80px;
}

#addBtn {
    padding: 0.5em;
    width: 200px;
}