<!-- <app-transaction-view></app-transaction-view> -->

<!-- Login Bar -->
<body>
    <nav>
        <mat-toolbar>
            <h1 class="navbar-item display-5">Money Smart</h1>

            <div *ngIf="authService.currentUser$ | async as user; else login">
                <span class="navbar-item">{{ user.email }}</span>
                <span class="navbar-item"><button class ="secondary" color="secondary" mat-mini-fab (click)="onHome()"><mat-icon>home</mat-icon></button></span>
                <button class="navbar-item secondary rounded" (click)="onLogout()">Logout</button>
            </div>

            <ng-template #login>
                <button class="navbar-item secondary rounded" (click)="onLogin()">Login</button>
            </ng-template>

        </mat-toolbar>
    </nav>


    <!-- <app-charts></app-charts> -->

    <router-outlet></router-outlet>

</body>